name: test-output-matrix

on:
  push:
    branches:
      - main
jobs:
  run-modules:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [gke, iam, bigquery]

    outputs:
      msg-gke: ${{ steps.run-tf-module.outputs.gke }}
      msg-iam: ${{ steps.run-tf-module.outputs.iam }}
      msg-bigquery: ${{ steps.run-tf-module.outputs.bigquery }}

    steps:
      - id: run-tf-module
        run: |
          echo "::set-output name=${{ matrix.module }}::`echo I am the item '${{ matrix.module }}'`"

  format-output:
    needs: [ run-modules ]
    runs-on: ubuntu-latest
    outputs:
      msg: ${{ steps.format-output-step.outputs.msg }}
    steps:
    - id: format-output-step
      run: |
        TERRAFORM_OUTPUT="${{ needs.run-modules.outputs.msg-gke }}
        - ${{ needs.run-modules.outputs.msg-iam }}
        - ${{ needs.run-modules.outputs.msg-bigquery }}"
        echo "::set-output name=msg::$TERRAFORM_OUTPUT"

  notify:
    runs-on: ubuntu-latest
    needs:
      - format-output
    steps:
    - name: print-output
      run: |
        echo ${{ needs.format-output.outputs.msg }}