name: test-output-matrix

on:
  push:
    branches:
      - main
jobs:
  run-modules:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [gke, iam, bigquery]

    outputs:
      msg-gke: "Module GKE: ${{ steps.run-tf-module.outputs.gke }}"
      msg-iam: "Module IAM: ${{ steps.run-tf-module.outputs.iam }}"
      msg-bigquery: "Module BIGQUERY: ${{ steps.run-tf-module.outputs.bigquery }}"

    steps:
      - id: run-tf-module
        run: |
          echo "::set-output name=${{ matrix.module }}::`echo I am the item '${{ matrix.module }}'`"

  notify:
    runs-on: ubuntu-latest
    needs:
      - run-modules

    steps:
      - env:
          NEEDS: ${{ toJSON(needs) }}
        run: |
          echo "- ${{ needs.run-modules.outputs.msg-gke }}
          - ${{ needs.run-modules.outputs.msg-iam }}
          - ${{ needs.run-modules.outputs.msg-bigquery }}"