name: test-output-matrix

on:
  push:
    branches:
      - main
jobs:
  run-modules:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [gke, iam, bigquery]

    outputs:
      msg-gke: ${{ steps.run-tf-module.outputs.gke }}
      msg-iam: ${{ steps.run-tf-module.outputs.iam }}
      msg-bigquery: ${{ steps.run-tf-module.outputs.bigquery }}

    steps:
      - id: run-tf-module
        run: |
          echo "::set-output name=${{ matrix.module }}::`echo I am the item '${{ matrix.module }}'`"

  notify:
    runs-on: ubuntu-latest
    needs:
      - run-modules
    steps:
    - id: format-output-step
      run: |
        TERRAFORM_OUTPUT="${{ needs.run-modules.outputs.msg-gke }}
        - ${{ needs.run-modules.outputs.msg-iam }}
        - ${{ needs.run-modules.outputs.msg-bigquery }}"
        echo "TERRAFORM_OUTPUT<<EOF" >> $GITHUB_ENV
        echo "$TERRAFORM_OUTPUT" >> $GITHUB_ENV
        echo "EOF" >> $GITHUB_ENV
    - id: print-output
      run: |
        echo "${{ env.TERRAFORM_OUTPUT }}"