name: test-output-matrix

on:
  push:
    branches:
      - main
jobs:
  set-outputs:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module:
          - one
          - two
          - three
          - four
    outputs:
      msg: '${{ matrix.module }} module: ${{ steps.output-step.outputs.msg }}'
    steps:
      - name: Output step ${{ matrix.module }}
        id: output-step
        run: |
          echo "::set-output name=msg::`echo ${{ steps.output-step.outputs.msg }} I am the item ${{ matrix.module }}`"

  print-output:
    runs-on: ubuntu-latest
    needs: set-outputs
    steps:
      - name: Print output step
        id: print-output-step
        run: |
          echo ${{needs.set-outputs.outputs.msg}}
