name: test-output-matrix

on:
  push:
    branches:
      - main
jobs:
  setup-list:
    runs-on: ubuntu-latest
    steps:
      - name: Setup matrix combinations
        id: setup-list-combinations
        run: |
          MATRIX_PARAMS_COMBINATIONS='one,two,three,four'
          echo ::set-output name=matrix-combinations::[$MATRIX_PARAMS_COMBINATIONS]
    outputs:
      matrix-combinations: ${{ steps.setup-list-combinations.outputs.matrix-combinations }}

  set-outputs:
    runs-on: ubuntu-latest
    needs: setup-list
    strategy:
      matrix: ${{ fromJson(needs.setup-list.outputs.matrix-combinations) }}
    outputs:
      msg: '{{ matrix.value }} module: ${{ steps.output-step.outputs.msg }}'

    - name: Output step ${{ matrix.value }}
      id: output-step
      run: |
        echo "::set-output name=msg::`echo I am the item ${{ matrix.value }}`"

  print-output:
    runs-on: ubuntu-latest
    needs: set-outputs
    steps:
     - name: Print output step
       id: print-output-step
       run: |
         echo ${{needs.set-outputs.outputs.msg}}
