name: test-output-matrix

on:
  push:
    branches:
      - main
jobs:
  run-modules:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [gke, iam, bigquery]

    outputs:
      msg-gke: ${{ steps.run-tf-module.outputs.gke }}
      msg-iam: ${{ steps.run-tf-module.outputs.iam }}
      msg-bigquery: ${{ steps.run-tf-module.outputs.bigquery }}

    steps:
      - id: run-tf-module
        run: |
        echo "::set-output name=${{ matrix.module }}::`echo I am the item '${{ matrix.module }}'`"

  notify:
    runs-on: ubuntu-latest
    needs:
      - run-modules

    steps:
      - env:
          NEEDS: ${{ toJSON(needs) }}
        run: |
          echo msg-gke: ${{needs.run-modules.outputs.msg-gke}}
          echo msg-iam: ${{needs.run-modules.outputs.msg-iam}}
          echo msg-bigquery: ${{needs.run-modules.outputs.msg-bigquery}}
          echo "needs: $NEEDS"
          echo -e "Final message: ${{needs.run-modules.outputs.msg-gke}}\n${{needs.run-modules.outputs.msg-iam}}\n${{needs.run-modules.outputs.msg-bigquery}}"