name: test-output-matrix

on:
  push:
    branches:
      - main
jobs:
  run-modules:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [gke, iam, bigquery]

    outputs:
      msg-gke: ${{ steps.run-tf-module.outputs.gke }}
      msg-iam: ${{ steps.run-tf-module.outputs.iam }}
      msg-bigquery: ${{ steps.run-tf-module.outputs.bigquery }}

    steps:
      - id: run-tf-module
        run: echo '::set-output name=${{ matrix.module }}::${{ matrix.module }}'

  notify:
    runs-on: ubuntu-latest
    needs:
      - run-modules

    steps:
      - env:
          NEEDS: ${{ toJSON(needs) }}
        run: |
          echo outputs.msg-one: ${{needs.set-outputs.outputs.msg-one}}
          echo outputs.msg-two: ${{needs.set-outputs.outputs.msg-two}}
          echo outputs.msg-three: ${{needs.set-outputs.outputs.msg-three}}
          echo outputs.msg-four: ${{needs.set-outputs.outputs.msg-four}}
          echo "needs: $NEEDS"