name: test-gh-actions-checkout

on:
  push:
    branches:
      - main
jobs:
  update-repo:
    name: Update repo
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Update repository
        run: |
          git clone https://${{ secrets.FRANCISCO_RODE_GITHUB_ACCESS_TOKEN }}@github.com/franciscorode/test-gh-actions-checkout.git
          cd test-gh-actions-checkout
          echo "fdfdfd" > aaa.txt
          git add aaa.txt
          git config --global user.email "fran_rode@hotmail.com"
          git config --global user.name "franciscorode"
          git commit -m "Change files"
      - name: Push changes
        uses: alice-biometrics/github-push-action@master
        with:
          github_token: ${{ secrets.FRANCISCO_RODE_GITHUB_ACCESS_TOKEN }}
          force: true

  checkout:
    needs:  [update-repo]
    name: Checkout repo
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Update repository
        run: echo ""
