name: test-gh-actions-release

on:
  release:
    types: [published]
    tags:
      - 'v**'
    tags-ignore:
      - '**'
jobs:
  test-release:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Test
        run: |
          echo "release"